@media screen and (max-width: 767px){
	.sitecontainer{
		display: flex;
		flex-direction: column;
		width: 700px;
		justify-content: center;
	}
	.menu{
		display: block;
    	padding-top: 50px;
	}
	.menu ul{
    	display: block;


}
	.menu li{
		display: block;
		margin-bottom: -23px;
	}
	.logo{
		margin-left:20px;
	}
	.menu a{
		color: #ffffff;
	    font-size: 24px;
	    font-weight: bold;
	}
	.onclik {
		width: 50px;
	    height: 50px;
	    margin-left: 25px;
	    position: absolute;
	    margin-top: 20px;
	    background-image: url(../images/threelines.png);
	    background-size: cover;
	    display: block;
	    background-position-x: -11px;
	    border: none;
	}
	.banner p{
		color: #fef8fd;
	    width: 646px;
	    padding-left: 34px; 
	    padding-top: 25px;
	    padding-bottom: 40px;
	    line-height: 32px;
	    font-size: 19px;
	    font-style: italic;
	    font-family: 'Open Sans Condensed', sans-serif;
	}
	.box{
		margin-top: 72px;
		display: block;
	}
	.aboutus{
		display: block;
		height: 1100px;

	}
	.media{
		display: flex;
    	flex-direction: column;
    	height: 1176px;
	}
	.media img{
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
	}
	.headline{
		display: block;
	}
	.headline h3{
		width: 400px;
	}
	.article{
		width: 400px;
	}
	.article span{
		display: block;
	}
	.ourservices{
		margin-top: 200px;
		margin-bottom: 428px;
	}
	.latestnews{
		margin-top: 265px;
		margin-bottom: 150px;
	}
	.line{
		margin-top: 100px;
	}
	.leftrightblock{
		display: block;
	}
	.right{
		height: 800px;
	}
	.footerbottom{
		margin-top: 340px;
	}
	.arrowbottom{
		display: none;
	}
}